@page
@model Assignment3.Pages.OrderItems.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
          <div class="col p-4 mb-4 ">
            <h2 class="card-text">
                    Delivery Cart
            </h2>
          </div>
    </div>
</div>
       <tbody>
        @foreach (var item in Model.OrderItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
        </tr>
}
    </tbody>
