@page
@model Assignment3.Pages.OrderItems.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
          <div class="col p-4 mb-4">
            <h2 class="card-text">
                    Delivery Cart
            </h2>
          </div>
    </div>
</div>
    <table class="table">
        <tbody>
            @foreach (var item in Model.OrderItems) {
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.DisplayFor(modelItem => item.ProductName)
                            @Html.DisplayFor(modelItem => item.Price)
                            

                        </div>
                    </td>
                    <td>
                         <a asp-page="./Delete" asp-route-id="@item.OrderID">Add to Cart</a>
                    </td>
                </tr>
}
        <</tbody>
    </table>

